<link rel="stylesheet" href="/src/css/hardcover-fiction.css" />
<h1 class="category-title">hardcover
  <span class="span-fict">Fiction</span>
</h1>
<ul class="gallery-list">
  <li class="gallery__item">
    <div class="thumb"></div>
    <img
      class="gallery__image"
      src="../images/Rectangle 13.jpg"
      data-source=""
      alt=""
    />
    <h2 class="gallery-title-book">I will find you</h2>
    <p class="gallery-author">Harlan Coben</p>
    <p class="overley-item">quick view</p>
</li>
<li class="gallery__item">
  <img
    class="gallery__image"
    src="../images/Rectangle 13.jpg"
    data-source=""
    alt=""
  />
  <h2 class="gallery-title-book">I will find you</h2>
  <p class="gallery-author">Harlan Coben</p>
</li> 
<li class="gallery__item">
  <img
    class="gallery__image"
    src="../images/Rectangle 13.jpg"
    data-source=""
    alt=""
  />
  <h2 class="gallery-title-book">I will find you</h2>
  <p class="gallery-author">Harlan Coben</p>
</li> 
<li class="gallery__item">
  <img
    class="gallery__image"
    src="../images/Rectangle 13.jpg"
    data-source=""
    alt=""
  />
  <h2 class="gallery-title-book">I will find you</h2>
  <p class="gallery-author">Harlan Coben</p>
</li> 
<li class="gallery__item">
  <img
    class="gallery__image"
    src="../images/Rectangle 13.jpg"
    data-source=""
    alt=""
  />
  <h2 class="gallery-title-book">I will find you</h2>
  <p class="gallery-author">Harlan Coben</p>
</li> 
<li class="gallery__item">
  <img
    class="gallery__image"
    src="../images/Rectangle 13.jpg"
    data-source=""
    alt=""
  />
  <h2 class="gallery-title-book">I will find you</h2>
  <p class="gallery-author">Harlan Coben</p>
</li> 
<li class="gallery__item">
  <img
    class="gallery__image"
    src="../images/Rectangle 13.jpg"
    data-source=""
    alt=""
  />
  <h2 class="gallery-title-book">I will find you</h2>
  <p class="gallery-author">Harlan Coben</p>
</li> 
<li class="gallery__item">
  <img
    class="gallery__image"
    src="../images/Rectangle 13.jpg"
    data-source=""
    alt=""
  />
  <h2 class="gallery-title-book">I will find you</h2>
  <p class="gallery-author">Harlan Coben</p>
</li> 
<li class="gallery__item">
  <img
    class="gallery__image"
    src="../images/Rectangle 13.jpg"
    data-source=""
    alt=""
  />
  <h2 class="gallery-title-book">I will find you</h2>
  <p class="gallery-author">Harlan Coben</p>
</li> 
<li class="gallery__item">
  <img
    class="gallery__image"
    src="../images/Rectangle 13.jpg"
    data-source=""
    alt=""
  />
  <h2 class="gallery-title-book">I will find you</h2>
  <p class="gallery-author">Harlan Coben</p>
</li>  
<li class="gallery__item">
  <img
    class="gallery__image"
    src="../images/Rectangle 13.jpg"
    data-source=""
    alt=""
  />
  <h2 class="gallery-title-book">I will find you</h2>
  <p class="gallery-author">Harlan Coben</p>
</li> 
<li class="gallery__item">
  <img
    class="gallery__image"
    src="../images/Rectangle 13.jpg"
    data-source=""
    alt=""
  />
  <h2 class="gallery-title-book">I will find you</h2>
  <p class="gallery-author">Harlan Coben</p>
</li> 
<li class="gallery__item">
  <img
    class="gallery__image"
    src="../images/Rectangle 13.jpg"
    data-source=""
    alt=""
  />
  <h2 class="gallery-title-book">I will find you</h2>
  <p class="gallery-author">Harlan Coben</p>
</li> 
<li class="gallery__item">
  <img
    class="gallery__image"
    src="../images/Rectangle 13.jpg"
    data-source=""
    alt=""
  />
  <h2 class="gallery-title-book">I will find you</h2>
  <p class="gallery-author">Harlan Coben</p>
</li> 
<li class="gallery__item">
  <img
    class="gallery__image"
    src="../images/Rectangle 13.jpg"
    data-source=""
    alt=""
  />
  <h2 class="gallery-title-book">I will find you</h2>
  <p class="gallery-author">Harlan Coben</p>
</li> 
</ul>