<header class ="page-header">
    <div class="header-container">
        <nav class="page-nav">
            <a href="" class="header-logo">
                <svg class="header-logo-icon" width="24" height="24">
                    <use href=""></use>
                </svg>
                <svg class="header-logo-icon-text" width="77" height="14">
                    <use href=""></use>
                </svg>
            </a>
            <ul class="header-menu">
                <li class="header-menu-item"><a class="header-menu-link" href="">Home</a></li>
                <li class="header-menu-item"><a class="" href="header-menu-link">Shopping list</a></li>
            </ul>
        </nav>
        <div class="header-wrap-button">
        <button class="header-theme-on" type="button"></button>
        <button class="mobile-menu-open" type="button">
            <svg class="mobile-menu-open-icon" width="28" height="28">
                <use href=""></use>
            </svg>
        </button></div>
    </div>
</header>

<!-- Mobile menu -->

<div class="mobile-menu">
    <div class="mobile-menu-container">
        <nav class="page-nav">
            <ul class="mobili-menu-list">
                <li class="mobile-menu-item"><a href="mobile-menu-link">Home</a></li>
                <li class="mobile-menu-item"><a href="mobile-menu-link">Shopping list</a></li>
            </ul>
        </nav>
    </div>
</div>