<header class="page-header">
  <div class="header-container">
    <nav class="page-nav">
      <a href="../index.html" class="header-logo link">
        <svg class="header-logo-icon" width="109" height="28">
          <use href="../images/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="header-menu list">
        <li class="header-menu-item">
          <a class="header-menu-link link header-menu-home" href="../index.html">Home</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link link header-menu-shop" href=""
            >Shopping list<svg
              class="header-menu-icon-shop"
              width="20"
              height="20"
            >
              <use href="../images/icons.svg#icon-uil-cart"></use></svg></a>
        </li>
      </ul>
    </nav>
    <div class="header-wrap-button">
      <label id="switch" class="switch">
        <input type="checkbox" onchange="toggleTheme()" id="slider" />
        <span class="slider round"></span>
      </label>
      <button class="mobile-menu-open" type="button">
        <svg class="mobile-menu-open-icon" width="28" height="28">
          <use href="../images/icons.svg#icon-align-left"></use>
        </svg>
      </button>
    </div>
  </div>
</header>

<!-- Mobile menu -->

<div class="mobile-menu">
  <div class="mobile-menu-container">
    <div class="page-mobile">
      <div class="header-container">
        <nav class="page-nav">
          <a href="../index.html" class="header-logo link">
            <svg class="header-logo-icon" width="109" height="28">
              <use href="../images/icons.svg#icon-logo"></use>
            </svg>
          </a>
        </nav>
        <div class="header-wrap-button">
          <label id="switcher" class="switch">
            <input type="checkbox" onchange="toggleTheme()" id="slid" />
            <span class="slider round"></span>
          </label>
          <button class="mobile-menu-close" type="button">
            <svg class="mobile-menu-close-icon" width="28" height="28">
              <use href="../images/icons.svg#icon-x"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  <div class="background">   
    <ul class="mobili-menu-list list">
      <li class="mobile-menu-item">
        <a href="../index.html" class="mobile-menu-link link mobile-menu-home">Home</a>
      </li>
      <li class="mobile-menu-item">
        <a href="" class="mobile-menu-link link mobile-menu-shop"
          >Shopping list<svg
            class="header-menu-icon-shop"
            width="20"
            height="20"
          >
            <use href="../images/icons.svg#icon-uil-cart"></use></svg></a>
      </li>
    </ul>
  </div>
  </div>
</div>
</div>
