:root {
    --accent-primary: #{$violet};
    --accent-secondary: #{$gold};
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
    cursor: pointer;
    font-family: inherit;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
}

address {
    font-style: normal;
}

img,
picture,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

.button {
    text-transform: uppercase;
    color: var(--text-color);
    border: 2px solid #4F2EE8;
    background-color: #0000;
    border-radius: 40px;
    padding: 14px 28px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    transition-property: color, background-color, scale;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    position: relative;
    overflow: hidden;
}

.button::before {
    content: "";
    z-index: -1;
    background: #4F2EE8;
    width: 110%;
    height: 100%;
    transition: transform .3s;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-105%)skew(-25deg);
}


.button:hover,
.button:focus {
    color: white;
}

.button:hover::before,
.button:focus::before {
    opacity: 1;
    transform: translateX(-5%) skew(-25deg);
}

.button--popup {
    padding: 14px 23px;
    min-width: 210px;
}

@media screen and (min-width: tablet) {
    .button--popup {
        padding: 20px 0;
        min-width: 500px;
    }
}

.button--login {
    border: 1.5px solid black;
    border-radius: 18px;
}

.bestseller-category {
    display: flex;
    flex-direction: column;
}

.category-blocks-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.main-title {
    font-weight: bold;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -0.04em;
    color: var(--main-text-color);
    margin-bottom: 40px;
    transition: color 200ms;
}

@media screen and (max-width: 1024px) {
    .main-title {
        font-size: 32px;
        line-height: 38px;
    }
}

.main-title--last-word-static {
    color: #4F2EE8;
    transition: color 200ms;
}

.bestseller-category-title {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    margin-bottom: 18px;
}

@media screen and (min-width: 768px) {
    .bestseller-category-title {
        line-height: 24px;
    }
}

.books-list {
    display: flex;
    gap: 24px;
    margin-bottom: 32px;
}

@media screen and (max-width: 1024px) {
    .books-list {
        margin-bottom: 8px;
        /* flex-direction: column; */
    }
}

@media screen and (min-width: tablet) and (max-width: 1440px) {
    .books-list {
        margin-bottom: 20px;
    }
}

.book-image {
    object-fit: fill;
    min-width: 335px;
    height: 485px;
}

img,
picture,
svg {
    max-width: 100%;
    height: auto;
    display: block;
}

@media screen and (min-width: 768px) {
    .book-image {
        min-width: 218px;
        height: 316px;
    }
}

@media screen and (min-width: 1440px) {
    .book-image {
        min-width: 180px;
        height: 256px;
    }
}

.book-title {
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: -0.04em;
    color: var(--main-text-color);
    max-width: 180px;
    margin-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.book-author {
    font-size: 12px;
    font-weight: regular;
    line-height: 14px;
    letter-spacing: -0.04em;
    font-style: italic;
    color: var(--secondary-text-color);
    /* color: gray; */
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.book-thumb {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 14px;
}

.book-image-overlay {
    background-color: #eac645;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
    transition: transform .3s ease-in-out;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(100%);
}

.book-link:hover .book-image-overlay,
.book-link:focus .book-image-overlay {
    transform: translateY(0);
}

.book-image-overlay-text {
    text-transform: uppercase;
    color: blackish;;
    font-size: 18px;
    font-weight: medium;
    opacity: 0;
}

.book-link:hover .book-image-overlay-text,
.book-link:focus .book-image-overlay-text {
    opacity: 1;
}

.see-more-btn {
    color: var(--main-text-color);
    margin-left: auto;
}

/* Відображення однієї книжки з кнопкою на мобайлі */
.bestsellers-book-item:nth-child(n + 2) {
    display: none;
}

/* Відображення книжок для таблета */
@media screen and (min-width: 768px) {
    .bestsellers-book-item:nth-child(n + 2) {
            display: block;
    }

    .bestsellers-book-item:nth-child(n + 4) {
        display: none;
    }
}
/* Відображення книжок для десктопа */
@media screen and (min-width: 1440px) {
    .bestsellers-book-item:nth-child(n + 4) {
        display: block;
    }
}

.category-books-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* align-items: center; */
}

@media screen and (min-width: 768px) {
    /* .content-rendering-container {
        max-width: 704px;
    } */
    .category-books-list {
        flex-direction: row;
        flex-wrap: wrap;
        flex-flow: row wrap;
        row-gap: 40px;
        column-gap: 25px;
    }
}

@media screen and (min-width: 1440px) {
    .category-books-list {
        column-gap: 24px;
    }
}

.books-list-item {
    --gap: 25px;
}

@media screen and (min-width: 320px) {
    .books-list-item {
        flex-basis: 1, var(--gap);
    }
}

@media screen and (min-width: 768px) {
    .books-list-item {
        flex-basis: 3, var(--gap);
    }
}

@media screen and (min-width: 1440px) {
    .books-list-item {
        --gap: 24px;
        flex-basis: 5;
    }
}

.books-list-item .home-container {
    padding-left: 420px;
}

:root {
    --container-padding: 20px;
}

@media screen and (min-width: 768px) {
    :root {
        --container-padding: 32px;
    }
}

@media screen and (min-width: 1440px) {
    :root {
        --container-padding: 24px;
    }
}

@media screen and (max-width: 767px) {
    .content {
        justify-content: center;
        display: flex;
    }
}


* {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 767px) {
    .main-title {
        font-size: 32px;
        line-height: 38px;
    }
}

.main-title {
    letter-spacing: -.04em;
    color: var(--main-text-color);
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    transition: color .2s;
}

.main-title--last-word-static {
    color: #4f2ee8;
    transition: color .2s;
}

.category-blocks-list {
    flex-direction: column;
    gap: 40px;
    display: flex;
}

ul {
    list-style: none;
}

.bestseller-category {
    flex-direction: column;
    display: flex;
}

.bestseller-category-title {
    letter-spacing: .03em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    margin-bottom: 18px;
    font-size: 14px;
    line-height: 18px;
}

@media screen and (max-width: 767px) {
    .books-list {
        flex-direction: column;
        margin-bottom: 8px;
    }
}

.books-list {
    gap: 24px;
    margin-bottom: 32px;
    display: flex;
}

/* @media screen and (min-width: 375px) {
    .books-list-item {
        flex-basis: calc((100% - var(--gap)*0)/1);
    }
} */

.books-list-item {
    --gap: 25px;
}

a {
    color: inherit;
    background-color: #0000;
    text-decoration: none;
}

.book-thumb {
    border-radius: 8px;
    margin-bottom: 14px;
    position: relative;
    overflow: hidden;
}

.book-image {
    object-fit: fill;
    min-width: 335px;
    height: 485px;
}

img,
picture,
svg {
    max-width: 100%;
    height: auto;
    display: block;
}

.book-image-overlay {
    background-color: #eac645;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
    transition: transform .3s ease-in-out;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(100%);
}

.book-title {
    letter-spacing: -.04em;
    color: var(--main-text-color);
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 180px;
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    overflow: hidden;
}

.book-author {
    letter-spacing: -.04em;
    color: var(--secondary-text-color);
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 14px;
}

.book-image-overlay-text {
    text-transform: uppercase;
    color: #111;
    opacity: 0;
    font-size: 18px;
    font-weight: 500;
    transition: opacity .3s ease-in-out .2s;
}

.see-more-btn {
    margin-left: auto;
}

.button {
    text-transform: uppercase;
    color: var(--text-color);
    border: 2px solid var(--accent-primary);
    background-color: #0000;
    border-radius: 40px;
    padding: 14px 28px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    transition-property: color, background-color, scale;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    position: relative;
    overflow: hidden;
}

.button:before {
    content: "";
    z-index: -1;
    background-color: var(--accent-primary);
    width: 110%;
    height: 100%;
    transition: transform .3s;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-105%)skew(-25deg);
}

button,
[type=button],
[type=reset],
[type=submit] {
    cursor: pointer;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    font-family: inherit;
}

.button {
    text-transform: uppercase;
    color: var(--text-color);
    border: 2px solid #4F2EE8;
    background-color: #0000;
    border-radius: 40px;
    padding: 14px 28px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    transition-property: color, background-color, scale;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    position: relative;
    overflow: hidden;
}

.button::before {
    content: "";
    z-index: -1;
    background: #4F2EE8;
    width: 110%;
    height: 100%;
    transition: transform .3s;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-105%)skew(-25deg);
}


.button:hover,
.button:focus {
    color: white;
}

.button:hover::before,
.button:focus::before {
    opacity: 1;
    transform: translateX(-5%) skew(-25deg);
}

.button--popup {
    padding: 14px 23px;
    min-width: 210px;
}

@media screen and (min-width: tablet) {
    .button--popup {
        padding: 20px 0;
        min-width: 500px;
    }
}

.button--login {
    border: 1.5px solid black;
    border-radius: 18px;
}


/* Медіазапити. Робив Андрій. Тім лід Змінювати лише після узгодження зі мною*/
/* Таблет */
@media screen and (min-width: 768px) {
    .book-thumb {
        max-width: 218px;
    }

    .book-image {
        min-width: 218px;
        height: 316px;
    }
}

/* Desktop */
@media screen and (min-width: 768px) {
    .bestseller-category {
        max-width: 996px;
    }

    .book-thumb {
        /* max-width: 180px; */
    }

    /* .book-image {
        min-width: 180px;
        height: 256px;
    } */
}
.see-more-btn {
    color: var( --main-text-color);
}

@media screen and (min-width: 1440px) {
    .home-container {
        padding-top: 40px;
    }

    .book-thumb {
        max-width: 180px;
    }

    .book-image {
        min-width: 180px;
        height: 256px;
    }
}