.shoplist-wrapper {
    width: 375px;
    margin: 0 auto;
}

.shoplist-indicator {
    display: none;
}

.shopping-tittle{
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -1.28px;
    color: var(--main-text-color);
    /* line-height: 1.18; */
}

.shopping-tittle-span {
    color: var( --primary-accent-color);
    /* color: #4F2EE8; */
}
.shopping-book {
    display: flex;
    margin-bottom: 20px;
    border-radius: 16px;
    border: 2px solid rgba(79,46,232,0.40);
    background-color: var(--header-background-color);
    height: 170px;
    width: 335px;
    padding: 14px;
}

.shopping-book:last-child {
    margin-bottom: 0;
}

.stub-text{
display: block;
margin: auto;
margin-top: 120px;
margin-bottom: 14px;

text-align: center;
font-size: 14px;
font-weight: 400;
line-height: 1.28;
letter-spacing: -0.28px;
/* color: rgba(0, 0, 0, 0.60); */
color: var(--secondary-text-color);
}

.shopping-img {
    display: block;
    margin: auto;
}

.image-book{
    margin-right: 14px;
}

.image-book-shopping{
    height: 142px;
    width: 100px;
    border-radius: 8px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;

}

.book-info{
    position: relative;
    flex-grow: 1;
}

.shopping-book-title{
    margin-bottom: 4px;
font-size: 16px;
font-weight: 700;
line-height: 1.12;
letter-spacing: -0.64px;
text-transform: uppercase;
max-width: 144px;
    white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
}

.shopping-book-category{
    
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.36px;
    color: var(--secondary-text-color);
}

.shopping-book-description {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.56px;
    max-width: 193px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
}

.shopping-book-author{
    font-size: 12px;
    font-style: italic;
    line-height: 1.17;
    letter-spacing: -0.48px;
    color: var(--secondary-text-color);
    position: absolute;
    bottom: 0;
}

.shopping-list-links{
position: absolute;
right: 14px;
bottom: 14px;
}

.buy-links-icon{
    filter: brightness(0) invert(1);
}

.icon-fill {
    width: 16px;
    height: 16px;
}

.amazon{
    filter: grayscale(100%);
    /* filter: brightness(0) invert(1); треба для відображення на темній темі */
    margin-right: 8px;
    width:32px;
    height:11px;
    transition: var(--transition);
}

.amazon:hover{
    background: url(<path-to-image>), lightgray 0.741px 0px / 97.61% 100% no-repeat;
    mix-blend-mode: luminosity;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15); 
    filter: drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.35));
}

.apple{
    filter: grayscale(100%);
    width:16px;
    height:16px;
    transition: var(--transition);
}

.apple:hover{
    background: url(<path-to-image>), lightgray 0px -0.889px / 100% 105.556% no-repeat;
    mix-blend-mode: luminosity;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
    filter: drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.35));
}

.shopping-list-links {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: baseline;
}

.button-shopping-list{
    padding: 6px;
    border: none;
    background-color: var(--primary-accent-color);
    border-radius: 25px;
    position: absolute;
    top: 0;
    right: 0;
    width: 28px;
}

.flex-container {
    margin: 0 auto;
    max-width: 375px;
    padding: 40px 20px 20px;
}



@media screen and (min-width: 768px) {

    .flex-container {
        max-width: 766px;
        margin: 0 auto;
    }

    .shoplist-wrapper {
        width: 768px;
    }

    .icon-fill {
        width: 18px;
        height: 18px;
    }

    .stub {
        width: 349px;
    }

    .shopping-tittle {
        font-size: 48px;
        line-height: 1.08;
        letter-spacing: -1.92px;
    }

    .shopping-book{
        width: 704px;
        height: 213px;
        padding: 24px;
     }

    .shopping-book:last-child{
       margin-bottom: 40px;
    }

    .shopping-img {
        width: 322px;
    }

    .image-book{
        width: 116px;
        height: 165px;
    }
    
    .image-book-shopping{
        width: 116px;
        height: 165px;
    }

    .shopping-book-title{
        max-width: 462px;
    }

    .shopping-book-description{
        max-width: 508px;
    }



    .amazon{
        margin-right: 8px;
        width:48px;
        height:15px;
    }

    .apple{
        width:28px;
        height:27px;
    }

    .button-shopping-list{
        width: 34px;
        height: 34px;
        padding: 8px;
    }

    }

@media screen and (min-width: 1440px) {
    .shoplist-indicator {
        display: block;
    }

    .shoplist-wrapper {
        width: 1440px;
        padding-right: 24px;
        padding-left: 24px;
        display: flex;
        column-gap: 40px;
        padding-top: 40px;
    }

    .flex-container {
        /* flex-grow: 1; */
        padding: 0;
        max-width: 996px;
    }
    
    .shopping-flex {
        display: flex;
    }

    .shopping-book{
        width: 996px;
     }

     .shopping-book:last-child{
        margin-bottom: 40px;
     }

     .shopping-img {
        max-width: 322px;
    }

    .image-book-shopping{
        width: 116px;
    }

    .shopping-book-description{
        margin-top: 14px;
        max-width: 808px;
    }
 

    .amazon{
        margin-right: 8px;
        width:48px;
         height:15px;
    }

    .apple{
        width:28px;
        height:27px;
    }

    }



