.shoplist-wrapper {
    width: 335px;
    margin: 0 auto;
}

.shoplist-indicator {
    display: none;
}

.shopping-tittle{
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 20px;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -1.28px;
    color: var(--main-text-color);
    /* line-height: 1.18; */
}

.shopping-tittle-span {
    color: var( --primary-accent-color);
    /* color: #4F2EE8; */
}
.shopping-book {
    display: flex;
    margin-bottom: 20px;
}

.stub-text{
display: block;
margin: auto;
margin-top: 120px;
margin-bottom: 14px;

text-align: center;
font-size: 14px;
font-weight: 400;
line-height: 1.28;
letter-spacing: -0.28px;
/* color: rgba(0, 0, 0, 0.60); */
color: var(--secondary-text-color);
}

.shopping-img {
    display: block;
    margin: auto;
    /* max-width: 100%; */
}

.image-book{
    margin: 14px;
}

.image-book-shopping{
    width: 100px;
    border-radius: 8px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;

}

.book-info{
    position: relative;
}

.shopping-book-title{
    margin-top: 14px;
    margin-bottom: 4px;
font-size: 16px;
font-weight: 700;
line-height: 1.12;
letter-spacing: -0.64px;
text-transform: uppercase;
}

.shopping-book-category{
    
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.36px;
    color: var(--secondary-text-color);
}

.shopping-book-description{
    margin-top: 8px;
font-size: 14px;
font-weight: 400;
line-height: 1.28;
letter-spacing: -0.56px;
}

.shopping-book-author{
    margin-top: 16px;
    margin-bottom: 14px;
font-size: 12px;
font-style: italic;
font-weight: 400;
line-height: 1.17;
letter-spacing: -0.48px;
color: var(--secondary-text-color);
}

.shopping-list-links{
position: absolute;
right: 14px;
bottom: 14px;
}

.buy-links-icon{
    filter: brightness(0) invert(1);
}

.amazon{
    margin-right: 8px;
    width:32px;
    height:11px;
}

.amazon:hover{
    background: url(<path-to-image>), lightgray 0.741px 0px / 97.61% 100% no-repeat;

    mix-blend-mode: luminosity;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15); 
}

.apple{
    width:16px;
    height:16px;
}

.apple:hover{
    background: url(<path-to-image>), lightgray 0px -0.889px / 100% 105.556% no-repeat;
    mix-blend-mode: luminosity;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
}

.button-shopping-list{
    position: absolute;
    top: 14px;
    right: 14px;
    width: 28px;
}

@media screen and (min-width: 375px) {

    .shoplist-wrapper {
        width: 768px;
    }

    .stub {
        margin: 0 auto;
    }

    .stub-text{
        max-width: 244px;
       
    }

    .shopping-book{
        max-width: 335px;
     }

     .shopping-img {
        width: 265px;
    }

    }

@media screen and (min-width: 768px) {

    .stub {
        width: 349px;
    }

    .shopping-tittle {
        font-size: 48px;
        line-height: 1.08;
        letter-spacing: -1.92px;
    }

    .shopping-book{
        max-width: 704px;
     }

    .shopping-book:last-child{
       margin-bottom: 40px;
    }

    .shopping-img {
        width: 322px;
    }

    .image-book{
        margin: 24px;
    }
    
    .image-book-shopping{
        width: 116px;
    }
    .shopping-list-links{
        right: 24px;
        bottom: 24px;
        }

    .shopping-book-title{
        margin-top: 24px;
    }

    .shopping-book-description{
        margin-top: 34px;
    }

    .shopping-book-author{
        margin-top: 48px; 
        margin-bottom: 24px;
    }

    .amazon{
        margin-right: 8px;
        width:48px;
        height:15px;
    }

    .apple{
        width:28px;
        height:27px;
    }

    .button-shopping-list{
        top: 24px;
        right: 24px;
        width: 34px;
    }

    }

@media screen and (min-width: 1440px) {
    .shoplist-indicator {
        display: block;
    }

    .shoplist-wrapper {
        width: 1392px;
        display: flex;
        gap: 40px;
    }

    .flex-container {
        flex-grow: 1;
    }

    .shopping-book-list{
        margin-left: 40px;
    }
    
    .shopping-flex {
        display: flex;
    }

    .shopping-book{
        max-width: 996px;
     }

     .shopping-book:last-child{
        margin-bottom: 40px;
     }

     .shopping-img {
        max-width: 322px;
    }

    .image-book{
        margin: 24px;
    }

    .image-book-shopping{
        width: 116px;
    }

    .shopping-list-links{
        right: 24px;
        bottom: 24px;
        }

    .shopping-book-title{
        margin-top: 24px;
    }
    .shopping-book-description{
        margin-top: 34px;
    }
    .shopping-book-author{
        margin-top: 48px; 
        margin-bottom: 24px;
    }

    .amazon{
        margin-right: 8px;
        width:48px;
         height:15px;
    }

    .apple{
        width:28px;
        height:27px;
    }

    .button-shopping-list{
        top: 24px;
        right: 24px;
        width: 34px;
    }

    }



